.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
  background: url(./images/background.png) no-repeat center center fixed;
  background-size: cover;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: url(./images/background.png) no-repeat center center fixed;
  background-size: cover;
  position: relative;
}
.containerLiXi {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(./images/backgroundLiXi.png) no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

.rowAction {
  flex-direction: column;
  display: flex;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.btnLixi {
  margin-bottom: 30px;
}

.divSound {
  position: absolute;
  right: 20px;
  bottom: 80px
}
.icSound {
  height: 70px;
  width: 70px;
}

.playVideo{
  width: 700px !important;
  height: 394px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 350px) {
  .btnLixi {
    width: calc(100% * 0.7);
  }
}

@media (max-width: 450px) {
  .playVideo{
    width: 350px !important;
    height: 197px !important;
  }
}

/* @media (max-width: 750px) {
  .playVideo{
    width: 500px !important;
    height: 281px !important;
  }
} */
